<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="baseFolder" value="C:\Users\Nino\Documents"/>
    <add key="winFile" value="win.txt"/>
    <add key="drawFile" value="draw.txt"/>
    <add key="loseFile" value="lose.txt"/>
    <add key="winText" value="W:"/>
    <add key="drawText" value="D:"/>
    <add key="loseText" value="L:"/>
  </appSettings>
</configuration>